<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RGUKT/MESS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="mess.css">
</head>
<body>
    <header>
        <h2>Rajiv Gandhi University of Knowledge and Technologies,Ongole AP</h2>
    </header>

    <nav class="navbar">
        <span id="toggle-nav"onclick="toggleNav()" >
            <i class="fa fa-bars"></i>
        </span>
        <div>
            <img src="logo.png" alt="" height="30" width="30">
            <h3>MESS MANAGEMENT</h3>
        </div>
        <ul id="navlist">
            <li><a href="/">Home </a><i class="fa fa-home" aria-hidden="true"></i></li>
            <li><a href="/mtimetable">Time table </a><i class="fa fa-info-circle" aria-hidden="true"></i></li>
            <li><a href="/mfeedback">Feedback </a><i class="fa fa-commenting" aria-hidden="true"></i></li>
            <li><a href="#"  style="color:whitesmoke;font-weight:bolder;text-shadow: 3px 0px 3px rgba(30,193,197,0.59);">Complaint </a><i class="fa fa-exclamation-circle" aria-hidden="true"></i></li>
            <li><a href="#" id="change">Change Password </a><i class="fa fa-key" aria-hidden="true"></i></li>
            <li><a href="/logout">Log out </a><i class="fa fa-sign-out" aria-hidden="true"></i></li>
        </ul>
    </nav>
    <br>
    <h1 style="text-align: center;color:black;text-shadow: 3px 0px 3px rgba(30,193,197,0.59);">Complaint form</h1>
    <div class="complaint-form">
        <form action="/mcomplaint" method="post">
            <div class="input-element">
                <label for="">Your name</label><br>
                <input type="text" name="name" id="name">
            </div>
            <div class="input-element">
                <label for="">Your Id</label><br>
                <input type="text" name="id" id="id">
            </div>
            <div class="input-element">
                <label for="">Date</label><br>
                <input type="date" name="date" id="date">
            </div>
            <div class="input-element">
                <label for="">Complaint</label><br>
                <input style="height:70px;" type="text" name="complaint" id="complaint">
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>    
        </form>
    </div>




    
    <div class="change-password">
        <span id="exit">&#10005;</span> 
        <form action="/changepassword" method="post">
            <h2 style="text-align: center;">Change Password</h2><br>
            <p id="error" style="color:red;display:none;margin: -15px 45px 0 45px;"></p>
            <input type="password" class="input" name="oldpassword" id="oldpassword" placeholder="Enter old password"><br>
            <input type="password" class="input" name="newpassword" id="newpassword" placeholder="new password"><br>
            <input type="password" class="input" name="repassword" id="repassword" placeholder="Retype new password"><br>
            <input type="checkbox" name="show-password" id="show-password"><span>Show password</span> <br><br>
            <button type="submit" id="change-button" style="background-color: rgb(87, 228, 228);">Change Password</button>
        </form>
    </div>


    <div class="footer">
        <p>2016-17 © Rajiv Gandhi University of Knowledge Technologies, Ongole-Campus. All rights reserved.</p>
        <p>The Rajiv Gandhi University of Knowledge Technologies has been constituted under A.P. Act No. 18 of 2008.</p>
    </div>






    <script>
        const nav=document.querySelector("#navlist");
        function toggleNav(){
            if(nav.style.display==="")
                nav.style.display="block";
            else
                nav.style.display="";
        }
        const exitButton = document.querySelector("#exit");
        const changePassword = document.querySelector(".change-password")
        const change = document.querySelector("#change");
        change.addEventListener('click',()=>{
            changePassword.style.display = "block";
        })
        exitButton.addEventListener('click',()=>{
            changePassword.style.display = 'none';
        })
        const changeButton = document.querySelector("#change-button");
        var error;
        changeButton.addEventListener('click',(e)=>{
            if(document.getElementById("oldpassword").value=="" || document.getElementById("newpassword").value=="" || document.getElementById("repassword").value==""){
                error="Please enter passwords";
            }else if(document.getElementById("newpassword").value !== document.getElementById("repassword").value){
                error="passwords mismatch";
            }else {
                document.querySelector('#error').style.display="none";
            }
            if(error){
                document.querySelector('#error').innerHTML=error;
                document.querySelector('#error').style.display="";
                e.preventDefault();
                error=undefined;
            }
        })
        var inputTags = document.querySelectorAll(".input");
        document.querySelector("#show-password").addEventListener('click',()=>{
            if(document.querySelector("#show-password").checked === true){
                for(var i=0;i<inputTags.length;i++){
                    inputTags[i].type="text";
                }
            }else {
                for(var i=0;i<inputTags.length;i++){
                    inputTags[i].type="password";
                }
            }
        })
    </script>
</body>
</html>
